.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess
!application/tests/import/
build/*
application/tests/build/*
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
RemoteSystemsTempFiles/.buildpath
application/tests/build/logs/junit.xml
application/tests/build/logs/junit.xml
application/tests/build/coverage/controllers/Ajax_post_controller.php.html
application/tests/build/coverage/controllers/Createpdf.php.html
application/tests/build/coverage/controllers/dashboard.html
application/tests/build/coverage/controllers/Datatest.php.html
application/tests/build/coverage/controllers/db.php.html
application/tests/build/coverage/controllers/etlsmall.php.html
application/tests/build/coverage/controllers/etltestrun.php.html
application/tests/build/coverage/controllers/FileImport.php.html
application/tests/build/coverage/controllers/ForgotPassword.php.html
application/tests/build/coverage/controllers/Home.php.html
application/tests/build/coverage/controllers/ImportFileSelector.php.html
application/tests/build/coverage/controllers/index.html
application/tests/build/coverage/controllers/Login.php.html
application/tests/build/coverage/controllers/refreshmv.php.html
application/tests/build/coverage/controllers/Report.php.html
application/tests/build/coverage/controllers/ResetPasswordEntry.php.html
application/tests/build/coverage/controllers/Tabletest.php.html
application/tests/build/coverage/controllers/UmpireAdmin.php.html
application/tests/build/coverage/controllers/UpdateProfile.php.html
application/tests/build/coverage/controllers/Upload.php.html
application/tests/build/coverage/controllers/UserAdmin.php.html
application/tests/build/coverage/controllers/VerifyLogin.php.html
application/tests/build/coverage/dashboard.html
application/tests/build/coverage/helpers/cell_formatting_helper.php.html
application/tests/build/coverage/helpers/dashboard.html
application/tests/build/coverage/helpers/dompdf_helper.php.html
application/tests/build/coverage/helpers/index.html
application/tests/build/coverage/helpers/pdf_helper.php.html
application/tests/build/coverage/helpers/utility_helper.php.html
application/tests/build/coverage/index.html
application/tests/build/coverage/libraries/Array_library.php.html
application/tests/build/coverage/libraries/dashboard.html
application/tests/build/coverage/libraries/Debug_library.php.html
application/tests/build/coverage/libraries/index.html
application/tests/build/coverage/libraries/updateCompetition.php.html
application/tests/build/coverage/models/Array_store_matches.php.html
application/tests/build/coverage/models/Array_store_umpire_admin.php.html
application/tests/build/coverage/models/Array_store_umpire_admin_empty.php.html
application/tests/build/coverage/models/Array_store_user.php.html
application/tests/build/coverage/models/Array_store_user_admin.php.html
application/tests/build/coverage/models/Array_store_user_admin_empty.php.html
application/tests/build/coverage/models/Array_store_user_empty.php.html
application/tests/build/coverage/models/dashboard.html
application/tests/build/coverage/models/Database_store_matches.php.html
application/tests/build/coverage/models/Database_store_umpire_admin.php.html
application/tests/build/coverage/models/Database_store_user.php.html
application/tests/build/coverage/models/Database_store_user_admin.php.html
application/tests/build/coverage/models/Datatestmodel.php.html
application/tests/build/coverage/models/Etl_test_model.php.html
application/tests/build/coverage/models/File_loader_import.php.html
application/tests/build/coverage/models/File_loader_test.php.html
application/tests/build/coverage/models/IData_store_matches.php.html
application/tests/build/coverage/models/IData_store_umpire_admin.php.html
application/tests/build/coverage/models/IData_store_user.php.html
application/tests/build/coverage/models/IData_store_user_admin.php.html
application/tests/build/coverage/models/IFile_loader.php.html
application/tests/build/coverage/models/index.html
application/tests/build/coverage/models/Login_validator.php.html
application/tests/build/coverage/models/Match_import.php.html
application/tests/build/coverage/models/Missing_data_updater.php.html
application/tests/build/coverage/models/Refresh_mv_tables.php.html
application/tests/build/coverage/models/Report_display_options.php.html
application/tests/build/coverage/models/Report_filter_parameter.php.html
application/tests/build/coverage/models/Report_instance.php.html
application/tests/build/coverage/models/report_param/dashboard.html
application/tests/build/coverage/models/report_param/index.html
application/tests/build/coverage/models/report_param/Report_grouping_structure.php.html
application/tests/build/coverage/models/report_param/Report_param_loader.php.html
application/tests/build/coverage/models/report_param/Report_parameter.php.html
application/tests/build/coverage/models/Report_populator_model.php.html
application/tests/build/coverage/models/Report_selection.php.html
application/tests/build/coverage/models/Report_selection_parameter.php.html
application/tests/build/coverage/models/Requested_report_model.php.html
application/tests/build/coverage/models/Run_etl_stored_proc.php.html
application/tests/build/coverage/models/Season.php.html
application/tests/build/coverage/models/Selectable_report_option.php.html
application/tests/build/coverage/models/separate_reports/dashboard.html
application/tests/build/coverage/models/separate_reports/index.html
application/tests/build/coverage/models/separate_reports/IReport.php.html
application/tests/build/coverage/models/separate_reports/Parent_report.php.html
application/tests/build/coverage/models/separate_reports/Report1.php.html
application/tests/build/coverage/models/separate_reports/Report2.php.html
application/tests/build/coverage/models/separate_reports/Report3.php.html
application/tests/build/coverage/models/separate_reports/Report4.php.html
application/tests/build/coverage/models/separate_reports/Report5.php.html
application/tests/build/coverage/models/separate_reports/Report6.php.html
application/tests/build/coverage/models/separate_reports/Report7.php.html
application/tests/build/coverage/models/separate_reports/Report8.php.html
application/tests/build/coverage/models/separate_reports/Report_factory.php.html
application/tests/build/coverage/models/Table_operation.php.html
application/tests/build/coverage/models/Tabletestmodel.php.html
application/tests/build/coverage/models/Umpire.php.html
application/tests/build/coverage/models/Umpireadminmodel.php.html
application/tests/build/coverage/models/User.php.html
application/tests/build/coverage/models/useradmin/dashboard.html
application/tests/build/coverage/models/useradmin/index.html
application/tests/build/coverage/models/useradmin/User_authentication_model.php.html
application/tests/build/coverage/models/useradmin/User_maintenance_model.php.html
application/tests/build/coverage/models/useradmin/User_permission_loader_model.php.html
application/tests/build/coverage/models/useradmin/User_role_permission.php.html
application/tests/build/coverage/models/Useradminmodel.php.html
application/tests/build/coverage/views/ajax_post_view.php.html
application/tests/build/coverage/views/checker.php.html
application/tests/build/coverage/views/dashboard.html
application/tests/build/coverage/views/datatest.php.html
application/tests/build/coverage/views/errors/cli/dashboard.html
application/tests/build/coverage/views/errors/cli/error_404.php.html
application/tests/build/coverage/views/errors/cli/error_db.php.html
application/tests/build/coverage/views/errors/cli/error_exception.php.html
application/tests/build/coverage/views/errors/cli/error_general.php.html
application/tests/build/coverage/views/errors/cli/error_php.php.html
application/tests/build/coverage/views/errors/cli/index.html
application/tests/build/coverage/views/errors/dashboard.html
application/tests/build/coverage/views/errors/html/dashboard.html
application/tests/build/coverage/views/errors/html/error_404.php.html
application/tests/build/coverage/views/errors/html/error_db.php.html
application/tests/build/coverage/views/errors/html/error_exception.php.html
application/tests/build/coverage/views/errors/html/error_general.php.html
application/tests/build/coverage/views/errors/html/error_php.php.html
application/tests/build/coverage/views/errors/html/index.html
application/tests/build/coverage/views/errors/index.html
application/tests/build/coverage/views/etltest.php.html
application/tests/build/coverage/views/home_view.php.html
application/tests/build/coverage/views/index.html
application/tests/build/coverage/views/login_view.php.html
application/tests/build/coverage/views/password_reset.php.html
application/tests/build/coverage/views/password_reset_done.php.html
application/tests/build/coverage/views/password_reset_next.php.html
application/tests/build/coverage/views/pdfreport.php.html
application/tests/build/coverage/views/process.php.html
application/tests/build/coverage/views/report/dashboard.html
application/tests/build/coverage/views/report/index.html
application/tests/build/coverage/views/report/pdf_report_view.php.html
application/tests/build/coverage/views/report/single_report_view table output.php.html
application/tests/build/coverage/views/report/single_report_view.php.html
application/tests/build/coverage/views/report_acc.php.html
application/tests/build/coverage/views/report_home.php.html
application/tests/build/coverage/views/resetPassword.php.html
application/tests/build/coverage/views/tabletest.php.html
application/tests/build/coverage/views/templates/analyticstracking.php.html
application/tests/build/coverage/views/templates/dashboard.html
application/tests/build/coverage/views/templates/footer.php.html
application/tests/build/coverage/views/templates/header.php.html
application/tests/build/coverage/views/templates/index.html
application/tests/build/coverage/views/umpireadmin.php.html
application/tests/build/coverage/views/updateprofile.php.html
application/tests/build/coverage/views/upload_form.php.html
application/tests/build/coverage/views/upload_success.php.html
application/tests/build/coverage/views/useradmin.php.html
application/tests/build/coverage/views/useradmin.php.html
build/coverage/controllers/Ajax_post_controller.php.html
build/coverage/controllers/Ajax_post_controller.php.html
build/coverage/controllers/Createpdf.php.html
build/coverage/controllers/dashboard.html
build/coverage/controllers/Datatest.php.html
build/coverage/controllers/db.php.html
build/coverage/controllers/etlsmall.php.html
build/coverage/controllers/etltestrun.php.html
build/coverage/controllers/FileImport.php.html
build/coverage/controllers/ForgotPassword.php.html
build/coverage/controllers/Home.php.html
build/coverage/controllers/ImportFileSelector.php.html
build/coverage/controllers/index.html
build/coverage/controllers/Login.php.html
build/coverage/controllers/refreshmv.php.html
build/coverage/controllers/Report.php.html
build/coverage/controllers/ResetPasswordEntry.php.html
build/coverage/controllers/Tabletest.php.html
build/coverage/controllers/UmpireAdmin.php.html
build/coverage/controllers/UpdateProfile.php.html
build/coverage/controllers/Upload.php.html
build/coverage/controllers/UserAdmin.php.html
build/coverage/controllers/VerifyLogin.php.html
build/coverage/dashboard.html
build/coverage/helpers/cell_formatting_helper.php.html
build/coverage/helpers/dashboard.html
build/coverage/helpers/dompdf_helper.php.html
build/coverage/helpers/index.html
build/coverage/controllers/Ajax_post_controller.php.html
build/coverage/controllers/Createpdf.php.html
