
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Umpire Report</title>

<style>

.divTable {
	
	display:table;
	/*width:100%;*/
}

.divHeader{
	.display:table-header-group;
	
}

.divRowGroup {
	display:table-row-group;
	
}

.divRow {
	display:table-row;
	
	
}

.divCell {
	display:table-cell;
	/*width:10%;*/
	/*width:250px;*/
	
	border-style: solid;
 	border-width: 1px;
 	border-color: black;
	
}
.divFirstCol {
	/*width:500px;*/
	
}

</style>

</head>
<body>
	<h1>06 - Umpire Pairing (2016)</h1>
	<div class='divTable'>
		<div class='divRow'>
			<div class='divCell divFirstCol'>
				Umpire_Name_First_Last
			</div>
			<div class='divCell'>Armstrong, Dean</div>
			<div class='divCell'>Bee, Deniel</div>
			<div class='divCell'>Beveridge, Brendan</div>
			<div class='divCell'>Boom, Marcus</div>
			<div class='divCell'>Boseley, Justin</div>
			<div class='divCell'>Buckley, Matthew</div>
		</div>
		
			<div class='divRow'>
				<div class='divCell divFirstCol'>Armstrong, Dean</div>
				<div class='divCell'>-</div>
				<div class='divCell'>-</div>
				<div class='divCell'>1</div>
				<div class='divCell'>-</div>
				<div class='divCell'>-</div>
				
			</div>
			<div class='divRow'>
				<div class='divCell'>Bee, Deniel</div>
				<div class='divCell'></div>
				<div class='divCell'></div>
				<div class='divCell'></div>
				<div class='divCell'></div>
				<div class='divCell'></div>
				
			</div>
			<div class='divRow'>
				<div class='divCell'>Beveridge, Brendan</div>
				<div class='divCell'>1</div>
				<div class='divCell'></div>
				<div class='divCell'></div>
				<div class='divCell'>1</div>
				<div class='divCell'></div>
				
			</div>
		
	</div>
</body>
</html>