<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<style>

</style>
</head>
<body>

	<h2>Phone numbers</h2>
	<div class="rTable">
		<div class="rTableRow">
			<div class="rTableHead">
				<strong>Name</strong>
			</div>
			<div class="rTableHead">
				<span style="font-weight: bold;">Telephone</span>
			</div>
			<div class="rTableHead">Icon</div>
		</div>
		<div class="rTableRow">
			<div class="rTableCell">John</div>
			<div class="rTableCell">
				<a href="tel:0123456785">0123 456 785</a>
			</div>
			<div class="rTableCell">
				check
			</div>
		</div>
		<div class="rTableRow">
			<div class="rTableCell">Cassie</div>
			<div class="rTableCell">
				<a href="tel:9876532432">9876 532 432</a>
			</div>
			<div class="rTableCell">
				check
			</div>
		</div>
	</div>


</body>
</html>