/*
Colour Scheme 3
Blue:  111F80
White: FFFFFF
Black: 000000
Grey:  C0C0C0
Teal:  1B3450

Buttons: 147fc7

*/

body {
	background-color: #FFFFFF;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

h1 {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: center;
}

h2 {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	text-align: center;
}


.mainBanner {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	
	color: #FFFFFF;
	background-color: #1B3450;
	
	width: 100%;
	line-height: 26.4px;
	text-align:center;
	padding-top: 25px;
    padding-bottom: 25px;
	
}

.menuBar {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align:left;
	
	position:relative;
    overflow:hidden;
    white-space: nowrap;
	
	/*color: #FFFFFF;*/
	background-color: #C0C0C0;
	
	width: 100%;
	/*padding-top: 10px;
    padding-bottom: 10px;*/
	
}

.menuBarLink {
	text-align:left;
	font-size: 16px;
	color: #111F80;
	display: inline-block;
	padding: 5px 15px 5px 15px;
}

.menuBarLink:hover {
	  background: #3cb0fd;
}


.footer {
    width: 100%;
	text-align:center;
	position:fixed;
	bottom:0;
	background-color: #FFFFFF;
}


a {
	color: 000080;
}

/*
Table Formatting - Reports
*/

/*Format for the entire table*/

.reportTable {
	
	border-collapse: separate;
	border-spacing: 0px;
	/*table-layout:fixed;*/
}

panelBelow {
 		width:100%;
        background:#FFFFFF;
        margin-top:15px;
    
}

.columnName {
	width:10%;
}

.columnData {
	width:5px;
}




.normalHeadingText {
  padding: 2px;
  text-align: center;
}

 .rotated_text {
	 -moz-transform:rotate(-90deg); 
	 -moz-transform-origin: top left;
	 -webkit-transform: rotate(-90deg);
	 -webkit-transform-origin: top left;
	 -o-transform: rotate(-90deg);
	 -o-transform-origin:  top left;
 	 -ms-transform: rotate(-90deg); /* IE9+ */
     -ms-transform-origin: top left;
	 position:relative;
 	 text-align: left;
 	 width:250px;
	 padding: 0px 0px 0px 0px;
	 /*background-color:#A1D490;*/
 	 position: absolute;
     height: 0%;
 	
 }

 .rotated_cell {
	 height:250px;
	 vertical-align:bottom;
	 padding: 0px 0px 10px 0px;
     /*background-color:#D4A190;*/
}
  
th, td 
  {
	  border: 1px solid #888888;
	  /*width: 20px;*/
  }

 /*
 PDF CSS Classes
 
 */
 .rotated_text_pdf {
 	/*
 	transform: 
      translate(0px, 0px)
      rotate(-90deg);
 	width:250px;
 	padding: 0px 0px 0px 0px;
	 background-color:#A1D490;
 	 position: absolute;
     height: 0%;
     */
 	
 	-moz-transform:rotate(-90deg); 
	 -moz-transform-origin: top left;
	 -webkit-transform: rotate(-90deg);
	 -webkit-transform-origin: top left;
	 -o-transform: rotate(-90deg);
	 -o-transform-origin:  top left;
	 position:relative;
 	 text-align: left;
 	 width:250px;
	 padding: 0px 0px 0px 0px;
	 background-color:#A1D490;
 	 /*position: absolute;*/
     height: 0%;
     
 }
 

 .rotated_cell_pdf {
	 height:150px;
	 vertical-align:bottom;
	 padding: 0px 0px 10px 0px;
   /*background-color:red;*/
}  


/*

.table_summary {
    width:100% !important;
}
.table_summary td {
    text-align:center;
}
.table_summary tbody td {
    font-size: 10pt;
    padding: 4px;
}
.rotated_vertical_td {
    width: 20px !important;
    height: 680px !important;
	height: 680px !important;
    font-size: 8pt;
    margin:0;
    padding:0;
    text-align:left;
}
.table_summary_thead {
    line-height: 220px;
    text-align:left;
}
.rotated_vertical_outer {
    position: relative;
    overflow: visible;
    text-align:left;
}
.rotated_vertical_inner:after {
    height: 150px;
    overflow: visible;
    position: absolute;
    text-align: left;
    transform: rotate(270deg);
    transform-origin: left bottom 0;
    width: 20px;
    top: 100px;
    left: 110px;
}
 */
 
 /*
 End PDF Classes
 */
 
 

td {
    border:1px solid #ccc;
    padding:5px 10px;
    vertical-align:top;
    /*word-break:break-word;*/
}
  
  

*/
	  
	  
	  

.columnHeadingNormal {
	font-weight: bold;
	border: 1px solid black;
}

.cellNormal {
	border: 1px solid #888888;
}

.cellNameSize {
	width:230px;
	
	
}

/* Shown as white text so you can't see it, but forces the width of a column */
.columnSizeText {
	color:#FFFFFF;
}

.cellDateSize {
	width:150px;
}

.cellNumber {
	border: 1px solid #888888;
	text-align:right;
}

.cellText {
	border: 1px solid #888888;
	text-align:left;
	
}

.cellTextTotal {
	font-weight: bold;
	
}


tr:nth-child(even) {
	background: #e5e5e5;
}

tr:nth-child(odd) {
	background: #ffffff;
}


.cellRowMatchesColumn {
	background: #999999;
	
}

/*
Conditional Cell Formatting
*/

.cellLevel4 {
	background:#FF0000;
	color:#FFFFFF;
	
}

.cellLevel3 {
	background:#33CC33;
	
}

.cellLevel2 {
	background:#FF9900;

}

.cellLevel1 {
	background:#FFFF00;

}



/*
Report Selection
*/

.reportSelectorRow {
	width:100%;
	position:relative;
    overflow:hidden;
    white-space: nowrap;
	text-align:center;
}


.reportSelectorLabel {
	width:50%;
	text-align:right;
	/*background:#C0C0C0;*/
	display: inline-block;
	font-size: 16px;
	padding:5px;
	/*font-weight: bold;*/
	
	
}

.reportSelectorControl {
	width:50%;
	text-align:left;
	/*background:#C0C0C0;*/
	display: inline-block;
	padding:5px;
	
}

select {
  margin: 5px;
  background: transparent;
  /*width: 150px;*/
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #000;
  /*height: 34px;*/
  /*-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
}

select:disabled {
	background: #dddddd;

}



/*
Buttons
*/

.btn {
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  background: #147fc7;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


/*
Login Page
*/

.loginFieldRow {
	width:100%;
	position:relative;
    overflow:hidden;
    white-space: nowrap;
	text-align:center;
}

.loginLabel {
	width:50%;
	text-align:right;
	/*background:#C0C0C0;*/
	display: inline-block;
	font-size: 16px;
	padding:5px;
	/*font-weight: bold;*/
	
	
}

.fileNameLabel {
	/*width:50%;*/
	text-align:left;
	/*background:#C0C0C0;*/
	display: inline-block;
	font-size: 16px;
	padding:5px;
	/*font-weight: bold;*/
	
	
}

.loginControl {
	width:50%;
	text-align:left;
	/*background:#C0C0C0;*/
	display: inline-block;
	padding:5px;
	
}

.customTextBox
{ 
	background:#F8F8F8;
	color:#999999;
	border:1px solid #DCDCDC;
	border-radius:2px ;
	font-size:16px ;
	height: 30px ;
	line-height:30px ;
	width: 250px ;
	padding: 10px ;
	box-shadow: 0px 0px 8px #DCDCDC; 
	-webkit-box-shadow: 0px 0px 8px #DCDCDC; 
	-moz-box-shadow: 0px 0px 8px #DCDCDC; 
}

.validationError {
	color:red;
	font-weight:bold;
	width:100%;
	text-align:center;
}


.maxDateOutput {
	font-style: italic;
	text-align: right;
	padding-top: 5px;
	
}

.usernameLabel {
	text-align: right;
	font-size: 16px;
	color: #000000;
	/*display: inline-block;*/
	display:inline;
	padding: 5px 15px 5px 15px;
	font-style: italic;
	float:right;
	
}

.uploadSuccessMessage {
	font-size: 20px;
	text-align: center;
	padding: 20px 0px 20px 0px;
	
}

.centerText {
	font-size: 16px;
	text-align: center;
}



.lastGameDate {
	font-size: 16px;
	text-align: center;
	
}

.support {
	font-size: 14px;
	text-align: center;
	
	
}