/*
Colour Scheme 3
Blue:  111F80
White: FFFFFF
Black: 000000
Grey:  C0C0C0
Teal:  1B3450

*/

body {
	background-color: #FFFFFF;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

h1 {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: center;
}

.mainBanner {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	
	color: #FFFFFF;
	background-color: #1B3450;
	
	width: 100%;
	line-height: 26.4px;
	text-align:center;
	padding-top: 25px;
    padding-bottom: 25px;
	
}

.menuBar {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align:left;
	
	/*color: #FFFFFF;*/
	background-color: #C0C0C0;
	
	width: 100%;
	padding-top: 10px;
    padding-bottom: 10px;
	
}

.footer {
    width: 100%;
	text-align:center;
	position:fixed;
	bottom:0;
	background-color: #FFFFFF;
}

.menuLink {
	font-size: 16px;
	color: #111F80;

}

a {
	color: 000080;
}

/*
Table Formatting - Reports
*/

/*Format for the entire table*/
.reportTable {
	border: 1px solid black;
	width: 100%;
}

th {
	border: 1px solid black;
}

th.rotate {
  /* Something you can count on */
  height: 170px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(0px, 60px)
    /* 45 is really 360 - 45 */
	/*Updated */
    rotate(270deg);
    width: 30px;
}

/*
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
*/

.columnHeadingNormal {
	font-weight: bold;
	border: 1px solid black;
}

.cellNormal {
	border: 1px solid black;
}


.oddROw {
	
	
}


.evenRow {
	
	
}






